#word-div{
    display: inline-block;
}
.element {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}
.element .bar{
    width: 50px;
    margin: 0 auto;
}
.element .word{
    text-align: center;
}
#transform{
    margin-bottom: 20px;
}